<template>
  <div>
    <h2>Help</h2>
    <p>This website allows you to view masjid jamaat times, as well as add/change
      the times. If anyone makes any changes, then everyone sees the new
      version. It's a bit like editing wikipedia in that way.</p>
    <p>There is an
      <a href="https://play.google.com/store/apps/details?id=com.ismail_s.jtime.android">Android app</a>
      available on the Play Store. It does the same job as this website, but is
      a lot more developed.</p>
    <p>This website is a work in progress, so a lot of features aren't available
      yet. If you have any ideas/improvements/issues, please open an issue on
      <a href="https://www.github.com/ismail-s/jtime/issues">Github</a>.</p>
    <h3>Open source libraries used</h3>
    <ul>
      <li><a href="https://vuejs.org/">Vuejs</a> (MIT license)</li>
      <li><a href="https://vuex.vuejs.org/">Vuex</a> (MIT license)</li>
      <li><a href="https://router.vuejs.org/">Vue-router</a> (MIT license)</li>
      <li><a href="https://github.com/pagekit/vue-resource">Vue-resource</a> (MIT license)</li>
    </ul>
    <p>Note that these are the libraries directly used in the final website.
      There are a lot of libraries used across this whole project. More details
      can be found by browsing the code on
      <a href="https://www.github.com/ismail-s/jtime">Github</a>.</p>
    <h3>Privacy policy</h3>
    <p>The privacy policy can be found <a href="https://jtime.ismail-s.com/privacy-policy.html">here</a>.</p>
  </div>
</template>

<script>
export default {
  name: 'help'
}
</script>

<style scoped>
</style>
