<template>
  <div>
    <h2>Jamaat Times</h2>
    <dialog class="mdl-dialog" id="search-radius-dialog" ref="searchRadiusDialog">
      <h3 class="mdl-dialog__title">Change Search Radius</h3>
      <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="number" class="mdl-textfield__input" id="search-radius-dialog-input" v-model="searchRadiusDialogParam" pattern="[0-9]+" min="1" max="249"></input>
          <label for="search-radius-dialog-input" class="mdl-textfield__label">Search Radius in km</label>
          <span class="mdl-textfield__error">Enter a number between 1 and 249</span>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" v-on:click="saveNewSearchRadiusParamAndCloseDialog">OK</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" v-on:click="closeSearchRadiusDialog">Cancel</button>
      </div>
    </dialog>
    <p v-if="!locationApiIsAvailable">Finding your current location is not
                                      supported by your browser</p>
    <p v-else-if="locationOrError === null">Trying to get your location...</p>
    <p v-else-if="locationOrErrorIsError">Weren't able to get your location</p>
    <div v-else-if="!sortedSalaahTimes">
      <p>No nearby salaah times found.</p>
      <button class="mdl-button mdl-button--raised" v-on:click="showSearchRadiusDialog">Search for masjids farther away</button>
    </div>
    <div class="mdl-grid" v-else>
        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone" v-for="salaahTimes in sortedSalaahTimes">
          <div class="mdl-card__title">{{ salaahTypeCodeToString(salaahTimes[0]) }}</div>
          <div class="mdl-card__supporting-text horizontal-scroll">
            <table class="mdl-data-table mdl-js-data-table center">
              <tbody>
                <tr v-for="time in salaahTimes[1]" v-bind:class="time === closestTime ? 'highlight-row' : ''">
                  <td class="mdl-data-table__cell--non-numeric">{{ time.masjidName }}</td>
                  <td>{{ time.datetime | format_as_hh_mm }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import haversine from 'haversine'
import moment from 'moment'
import {salaahTypeCodeToString, upgradeElement, upgradeElementMixin} from '../utils'
import dialogPolyfill from 'dialog-polyfill'

export default {
  name: 'home',
  data () {
    return {
      locationApiIsAvailable: true,
      locationOrError: null,
      timeoutId: null,
      searchRadius: 30,
      searchRadiusDialogParam: 10
    }
  },
  mixins: [upgradeElementMixin],
  methods: {
    salaahTypeCodeToString,
    sortByDistanceFromCurrentLocation (a, b) {
      const currentLoc = {latitude: this.locationOrError.coords.latitude,
        longitude: this.locationOrError.coords.longitude}
      const aLoc = {latitude: a.masjidLocation.lat, longitude: a.masjidLocation.lng}
      const bLoc = {latitude: b.masjidLocation.lat, longitude: b.masjidLocation.lng}
      const aDist = haversine(currentLoc, aLoc)
      const bDist = haversine(currentLoc, bLoc)
      if (aDist < bDist) {
        return -1
      } else if (aDist > bDist) {
        return 1
      } else {
        return 0
      }
    },
    getLocationAndNearbyMasjids () {
      if ('geolocation' in window.navigator) {
        window.navigator.geolocation.getCurrentPosition((position) => {
          this.locationOrError = position
          this.$store.dispatch({
            type: 'getTimesForNearbyMasjids',
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            searchRadius: this.searchRadius
          })
        }, (error) => {
          this.locationOrError = error
        }, {
          timeout: 15000,
          maximumAge: 15000
        })
      } else {
        this.locationApiIsAvailable = false
      }
    },
    showSearchRadiusDialog () {
      this.searchRadiusDialogParam = this.searchRadius
      const dialog = document.getElementById('search-radius-dialog')
      dialog.showModal()
    },
    saveNewSearchRadiusParamAndCloseDialog () {
      // validate and save new param, then close dialog if successful
      const parsedSearchRadius = parseInt(this.searchRadiusDialogParam, 10)
      if (typeof parsedSearchRadius === 'number' && parsedSearchRadius > 0 && parsedSearchRadius < 250) {
        this.searchRadius = parsedSearchRadius
        this.closeSearchRadiusDialog()
        this.getLocationAndNearbyMasjids()
      }
    },
    closeSearchRadiusDialog () {
      document.getElementById('search-radius-dialog').close()
    }
  },
  filters: {
    format_as_hh_mm: d => moment.utc(d).format('HH-mm')
  },
  computed: {
    locationOrErrorIsError () {
      return !this.locationOrError ||
        this.locationOrError.code ||
        !this.locationOrError.coords ||
        this.locationOrError.coords.latitude == null ||
        this.locationOrError.coords.longitude == null
    },
    sortedSalaahTimes () {
      const times = this.$store.state.SalaahTimesModule.nearbySalaahTimes
        // Group by salaah type
        .reduce((acc, elem) => {
          if (acc[elem.type]) {
            acc[elem.type].push(elem)
            return acc
          }
        }, {'f': [], 'z': [], 'a': [], 'm': [], 'e': []})
      times['m'] = times['m'].map(e => {
        e.datetime = moment.utc(e.datetime).add(5, 'minutes').toDate()
        return e
      })
      var timesAsList = [['f', times['f']], ['z', times['z']],
        ['a', times['a']], ['m', times['m']], ['e', times['e']]]
          .map(([salaahType, times]) => {
            times.sort((a, b) => {
              // sort by time, then by distance from current position
              const [aTime, bTime] = [a.datetime.getTime(), b.datetime.getTime()]
              if (aTime < bTime) {
                return -1
              } else if (aTime > bTime) {
                return 1
              } else {
                return this.sortByDistanceFromCurrentLocation(a, b)
              }
            })
            return [salaahType, times]
          }).filter(([salaahType, times]) => times.length > 0)
      return timesAsList.length === 0 ? null : timesAsList
    },
    closestTime () {
      const utcOffset = moment().utcOffset() * 60 * 1000 // in milliseconds
      const nowish = moment().subtract(3, 'minutes')
      const sortedTimes = this.$store.state.SalaahTimesModule.nearbySalaahTimes
        .map(elem => {
          elem.keyForTime = -nowish.diff(elem.datetime) - utcOffset
          return elem
        })
        .sort((aElem, bElem) => {
          const [a, b] = [aElem.keyForTime, bElem.keyForTime]
          if (a < b) {
            return -1
          } else if (a > b) {
            return 1
          } else return 0
        })
      const filteredTimes = sortedTimes.filter(elem => elem.keyForTime >= 0)
      let res
      if (filteredTimes.length > 0) {
        // filter all times equal to first one
        res = filteredTimes
          .filter(elem => elem.keyForTime === filteredTimes[0].keyForTime)
      } else {
        // get most recent time
        res = sortedTimes.filter(elem => elem.keyForTime === sortedTimes[sortedTimes.length - 1].keyForTime)
      }
      // sort by distance from current loc
      res.sort(this.sortByDistanceFromCurrentLocation)
      // return closest time
      const finalRes = res[0]
      finalRes && delete finalRes.keyForTime
      return finalRes || null
    },
    updateTime () {
      if (!this.closestTime) {
        return null
      }
      const utcOffset = moment().utcOffset()
      /* If closestTime is at least 3 mins in the past, then we can assume that
         there are no more salaah times for today, so we should next update the
         salaah times at midnight */
      if (moment().diff(this.closestTime.datetime, 'minutes', true) + utcOffset >= 3) {
        return moment().add(1, 'days').startOf('day').diff(moment())
      }
      return moment(this.closestTime.datetime).clone()
        .add(3, 'minutes').add(1, 'millisecond').diff(moment()) - (utcOffset * 60 * 1000)
    }
  },
  mounted () {
    const dialog = this.$refs.searchRadiusDialog
    document.body.appendChild(dialog)
    upgradeElement(dialog)
    dialogPolyfill.registerDialog(dialog)
    this.getLocationAndNearbyMasjids()
  },
  beforeDestroy () {
    const dialog = document.getElementById('search-radius-dialog')
    dialog && this.$el.appendChild(dialog)
    clearTimeout(this.timeoutId)
  },
  watch: {
    updateTime (t) {
      clearTimeout(this.timeoutId)
      this.timeoutId = setTimeout(this.getLocationAndNearbyMasjids, t)
    },
    '$store.state.OverflowMenuModule.overflowMenuItemSelected': function (item) {
      if (item.id === 1) {
        this.showSearchRadiusDialog()
      }
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: normal;
}

.center {
  margin: auto;
}

.highlight-row {
  background-color: #f48fb1; /*material design pink 200*/
}

.horizontal-scroll {
  overflow-x: auto;
}
</style>

<style>
@import "~dialog-polyfill/dialog-polyfill.css";
</style>
