<template>
  <div>
  <button id="menu-app" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-app">
    <li v-for="item in items" class="mdl-menu__item" v-on:click="publishItemClick(item)">{{ item.name }}</li>
  </ul>
  </div>
</template>

<script>
import {upgradeElementMixin} from '../utils'

export default {
  name: 'overflow-menu',
  props: ['items'],
  methods: {
    publishItemClick (item) {
      this.$store.commit('overflowMenuItemClicked', item)
    }
  },
  mixins: [upgradeElementMixin]
}
</script>
